@using Microsoft.AspNetCore.Mvc.Rendering
@using ExampleMapping.Web.Views
@model ExampleMapping.Web.Models.UserStory

@{
    ViewBag.Title = "New User Story";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="UserStories" asp-action="Create" method="post" class="form-horizontal" role="form">
    @Html.Partial("EditPartial", new ViewDataDictionary(ViewData) { { "ViewType", ViewType.CreateNew } })
</form>