@using ExampleMapping.Web.Views
@model ExampleMapping.Web.Models.UserStory

@{ 
    var viewType = (ViewType)Enum.Parse(typeof(ViewType), (@ViewData["ViewType"] ?? string.Empty).ToString());
    var editButtonContent = viewType == ViewType.CreateNew ? "Create" : "Save";
}

<div class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    @if (viewType == ViewType.EditExisting)
    {
    <input type="hidden" asp-for="UserStoryId" />
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@editButtonContent" class="btn btn-default" />
        </div>
    </div>
</div>
