@model IEnumerable<ExampleMapping.Web.Models.UserStory>

@{
    ViewBag.Title = "User Stories";
}

<h2>User Stories</h2>

<p>
    <a asp-controller="UserStories" asp-action="Create">Create New</a>
</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Edit</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><div id="StoryName">@Html.DisplayFor(_ => item.Name)</div></td>
            <td><a asp-action="Edit" asp-route-id="@item.UserStoryId">Edit</a></td>
        </tr>
    }
</table>